<ion-content class="ion-padding">
  <div class="center-wrapper">
    <div class="card app-bg-overlay">
      <h2>Inicia sesión</h2>

      <ion-item lines="none">
        <ion-label position="stacked">Correo</ion-label>
        <ion-input [(ngModel)]="email" type="email" placeholder="ejemplo@correo.cl"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password" placeholder="********"></ion-input>
      </ion-item>

      <div class="actions">
        <ion-button expand="block" (click)="doLogin()">INGRESAR</ion-button>
      </div>

      <div class="register-link">
        ¿NO TIENES CUENTA? <a (click)="goRegister()">REGÍSTRATE</a>
      </div>
    </div>
  </div>
</ion-content>
