.page-content {
  padding: 8px;
}

.title-centered {
  margin-left: 40px;
  text-align: center;
  width: calc(100% - 80px);
}

.logo-btn img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  border-radius: 6px;
}

.buttons {
  padding: 12px;
}
